.ruler{
    font-family:"Roboto Mono";
    background-color: yellow;
    color: blue;
    text-align: center;
    margin: 15 px;
    border: solid black 2px;
}
.låda{
    background-color: lightgrey;
    margin: 20px;
    border: 2px solid black;
    

}
body{
    background-image: url("./Bilder\'/showcase.jpg");
}
.sista_bilden,h2,p{
    text-align: center;
}